{% extends 'base.html' %}
{% block title %}Contact{% endblock title %} 
{% block body %}
<div class="container my-2">
    <h1 class="text-center mb-4">Contact us</h1>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6 mb-4 mb-md-0">
            <img src="/static/img/contactUs.avif" class="img-fluid rounded shadow" alt="Contact Image" style="height:500px; object-fit:cover; width:100%;">
        </div>
        <div class="col-md-6">
            <form method="POST" action="/contact">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter Phone Number" required>
                </div>
                <div class="mb-3">
                    <label for="comments" class="form-label">Comments</label>
                    <textarea class="form-control" id="comments" name="comments" rows="4" placeholder="Your comments..." required></textarea>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}